- model_class = Ride
%p
= content_tag "div", id: "ride", data: {ride: { ride_id: ride.id} } do
  %p
    - image = ride.images.first
    = image_tag(image["url"])

  %h4= ride.title
  %p= ride.description
  %p
    %strong= model_class.human_attribute_name(:amenities) + ':'
    = ride.amenities
  %p
    %strong= model_class.human_attribute_name(:number_of_workstations) + ':'
    = ride.number_of_workstations
  %p
    %strong= model_class.human_attribute_name(:hourly_rental) + ':'
    = ride.hourly_rental
  %p
    %strong= model_class.human_attribute_name(:morning_rental) + ':'
    = ride.morning_rental
  %p
    %strong= model_class.human_attribute_name(:evening_rental) + ':'
    = ride.evening_rental
  

  = link_to t('.book', :default => t("helpers.links.book")), ride_path(ride), :class => 'btn btn-default'
  = link_to "Close", "#", :id => 'close-expansion', :class => 'btn btn-default'

:javascript
//If Close button clicked then going to make empty #ride div, where
//This details is displayed 
$(document).ready( function(){
  $("#close-expansion").click( function() {
    $("#ride").empty();
  })
});
