= simple_form_for @ride, :html => { :class => 'form-horizontal' } do |f|
  = field_set_tag 'Describe your unique workplace' do 
    .splitContainer
      %dl.large
        %dd= f.input :title, :label => "Workplace Title"
        %dd= error_span(@ride[:title])
      %dl.sixth
        %dd= f.input :subcategory_id, :label => "Workplace type", :collection => @subcategories, :selected => @default_subcategory
        %dd= error_span(@ride[:subcategory_id]) 
    .description
      = f.input :description
      = error_span(@ride[:description])

  
  = field_set_tag 'Workplace address' do
    = f.input :address, :input_html =>{:id => 'gmaps-input-address'}, :placeholder => 'Start typing a place...'
    #gmaps-canvas

    = f.input :landmark
    = error_span(@ride[:landmark])
  
  = field_set_tag 'Additional info' do
    .splitContainer
      %dl.third
        %dd= f.input :amenities
        %dd= error_span(@ride[:amenities])
      %dl.third
        %dd= f.input :number_of_workstations, :prompt => 'Select Number of Available Work Station', :collection => WorkstationCount.all
        %dd= error_span(@ride[:number_of_workstations])
      %dl.third

  / = field_set_tag 'Bicycle type' do    
  /   .splitContainer
  /     %dl.third
  /       %dd= f.input :supplier_id, collection: @supplier_names, :selected => @default_supplier
  /     %dl.third
  /       %dd= f.input :subcategory_id, :label => "Product Category", :collection => @subcategory_names, :selected => @default_subcategory
  /     %dl.third
  /       %dd= f.input :brand_id, :label => "Brand", :collection => @brand_names, :selected => @default_brand
  /       %dd= error_span(@product[:brand])
            
  = field_set_tag 'Rental information' do    
    .splitContainer
      %dl.sixth
        %dd= f.input :morning_rental
        %dd= error_span(@ride[:morning_rental])
      %dl.sixth
        %dd= f.input :evening_rental
        %dd= error_span(@ride[:evening_rental])
      %dl.sixth
        %dd= f.input :hourly_rental
        %dd= error_span(@ride[:hourly_rental])
      %dl.sixth
        %dd= f.input :daily_rental
        %dd= error_span(@ride[:daily_rental])  
      %dl.sixth
        %dd= f.input :weekly_rental
        %dd= error_span(@ride[:weekly_rental])         
     
 
  / = f.input :address
  / = error_span(@ride[:address])
  /= f.input :city
  /= error_span(@ride[:city])
  / = f.input :state
  / = error_span(@ride[:state])
  / = f.input :pincode
  / = error_span(@ride[:pincode])
  /= f.input :landmark
  /1= error_span(@ride[:landmark])

  = field_set_tag 'Attach Images' do
    %a.btn.btn-primary#upload_widget_opener{:href => "#"} Upload multiple images
    %ul#images
      %span.status 
      .preview
      -if !@ride.new_record?
        = render partial: 'images', ride: @ride
    
  
  
  = f.button :submit, "List Workplace", :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), rides_path, :class => 'btn btn-default'

/Should we move this script to application.js? It is only required wen this form is opend  
%script{:src => "//widget.cloudinary.com/global/all.js", :type => "text/javascript"}

<!-- Configure Cloudinary jQuery plugin -->


= cloudinary_js_config

:javascript
jQuery(function() {
  var completer;
  completer = new GmapsCompleter({
    inputField: '#gmaps-input-address',
    errorField: '#gmaps-error'
  });

  completer.autoCompleteInit({
    country: "ind"
  });
});

$.cloudinary.config({ cloud_name: 'dijs1yfba', api_key: '488196417269728'});


  document.getElementById("upload_widget_opener").addEventListener("click", function() {

    cloudinary.openUploadWidget({ cloud_name: 'dijs1yfba', upload_preset: 'sample_a3cb73f3e13fc75f53e20e800352e1b509ee1f7b'}, 
      function(error, result) { console.log(error, result);
      var preview = $(".preview");
      $(".status").text("");
 
      var arrayLength = result.length;
      for (var i = 0; i < arrayLength; i++) {
        var imageMetadata = result[i];
        
        $.cloudinary.image(imageMetadata.public_id, {
            format: result.format, width: 100, height: 100, crop: "fit"
          }).appendTo(preview);

           $('<a/>').
          addClass('delete_by_token').
          attr({href: '#'}).
          html('&times;').
          appendTo(preview).click(function() {
            $.cloudinary.delete_by_token(imageMetadata.delete_token).done(function(){
             
              
            }).fail(function() {
                $('.status').text("Cannot delete image");
              });
        });
      }
      
       
      /*Make a function  How bad one can code, I wonder of myself:) */
      var form_type = $("[class^=simple_form]").attr('id');
      /*var action_path = '/images' + $("[class^=simple_form]").attr('action');*/
      var resource_id = form_type.split('_').splice(-1)[0];
      var action_path = "/images/park_images";
      var request_type = "post";
      var resource_type = "List";

      if (form_type == "new_ride"){
        request_type = "post";
        resource_type = "List"
      }

      var json_data = { resource_type: resource_type, data_value: result }

      var re = /edit_ride_\d+/i;
      var edit_resource = form_type.match(re);
      if (edit_resource){
        var json_data = { id: resource_id, resource_type: resource_type, data_value: result }

      }

      $.ajax({
        url : action_path,
        type : request_type,
        data : json_data
      });


      });

  }, false);




$(document).ready(function() {
  console.log("page has loaded!");
});

  $(document).ready(function() {
    /*
    // Cloudinary jQuery integration library uses jQuery File Upload widget
    // (see http://blueimp.github.io/jQuery-File-Upload/).
    // Any file input field with cloudinary-fileupload class is automatically
    // wrapped using the File Upload widget and configured for Cloudinary uploads.
    // You can further customize the configuration using .fileupload method
    // as we do below.*/
    $(".cloudinary-fileupload")
      .cloudinary_fileupload({
        // Uncomment the following lines to enable client side image resizing and valiation.
        // Make sure cloudinary/processing is included the js file
        //disableImageResize: false,
        //imageMaxWidth: 800,
        //imageMaxHeight: 600,
        //acceptFileTypes: /(\.|\/)(gif|jpe?g|png|bmp|ico)$/i,
        //maxFileSize: 20000000, // 20MB
        dropZone: "#direct_upload",
        start: function (e) {
          $(".status").text("Starting upload...");
        },
        progress: function (e, data) {
          $(".status").text("Uploading... " + Math.round((data.loaded * 100.0) / data.total) + "%");
        },
        fail: function (e, data) {
          $(".status").text("Upload failed");
        }
      })
      .off("cloudinarydone").on("cloudinarydone", function (e, data) {
        $("#photo_bytes").val(data.result.bytes);
        $(".status").text("");
        var preview = $(".preview").html('');
        $.cloudinary.image(data.result.public_id, {
          format: data.result.format, width: 50, height: 50, crop: "fit"
        }).appendTo(preview);

        $('<a/>').
          addClass('delete_by_token').
          attr({href: '#'}).
          data({delete_token: data.result.delete_token}).
          html('&times;').
          appendTo(preview).
          click(function(e) {
            e.preventDefault();
            $.cloudinary.delete_by_token($(this).data('delete_token')).done(function(){
              $('.preview').html('');
              $('#info').html('');
              $("#photo_bytes").val('');
              $('input[name="photo[image]"]').remove();
              $('.status').text("Deleted image");
            }).fail(function() {
              $('.status').text("Cannot delete image");
          });
        });
        view_upload_details(data.result);
      });
    });
    
    function view_upload_details(upload) {
      // Build an html table out of the upload object
      var rows = [];
      $.each(upload, function(k,v){
        rows.push(
          $("<tr>")
            .append($("<td>").text(k))
            .append($("<td>").text(JSON.stringify(v))));
      });
      $("#info").html(
        $("<div class=\"upload_details\">")
          .append("<h2>Upload metadata:</h2>")
          .append($("<table>").append(rows)));
    }