- model_class = Ride

.jumbotron.jumbotron-md-cover.img-fluid{:style => "background-image: url(#{@cover_image});"}
  .ride-caption
    .container
      .row
        .col-xs-12.col-sm-8.col-md-8.col-lg-8
          %h1.trim= model_class.human_attribute_name(@ride.title)
          .hidden-xs.ride-details
            %h3= @ride.subcategory.name
            .measurement
              %p
                = model_class.human_attribute_name(:amenities)
                = @ride.amenities
              %p
                = model_class.human_attribute_name(:number_of_workstations)
                = @ride.number_of_workstations.to_i
        .col-xs-12.col-sm-4.col-md-4.col-lg-4
          #timer{"data-animated" => "FadeIn"}
            %p#message
            #hours.timer_box
              %h1= @ride.hourly_rental.to_i
              %p= "/Hour"
            #days.timer_box
              %h1= @ride.daily_rental.to_i 
              %p= "/Day"
            #slot.timer_box
              %h1= @ride.morning_rental.to_i 
              %p= "/Slot"
            #weekly.timer_box 
              %h1= @ride.weekly_rental.to_i 
              %p= "/Week"     
  

.container
  .row
    .col-xs-12.col-sm-12.col-md-6.col-lg-6
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
          .panel.panel-info
            .panel-heading
              .row
                .col-xs-12.col-sm-12.col-md-8.col-lg-8
                  %h3
                    Workplace Details 
                .col-xs-12.col-sm-12.col-md-4.col-lg-4
                  .panel-action  
                    = link_to t('.back', :default => t("helpers.links.back")), rides_path, :class => 'btn btn-info'
  
            .panel-body
              %p= @ride.description
            %ul.list-group
              %li.list-group-item
                %p= @ride.address

    / Resarvation             
    .col-xs-12.col-sm-12.col-md-6.col-lg-6
      .row
        .col-xs-12.col-sm-6.col-md-12.col-lg-12.col-lg-push-0.col-md-push-0.col-sm-push-6.col-xs-push-0
          .panel.panel-default.panel-picker.js-panel-picker
            .panel-body
              .panel-container.no-border
                #after-reservation.pading-15
                  .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    .panel.panel-info
                      .panel-heading
                        .row
                          .col-xs-12.col-sm-12.col-md-8.col-lg-8
                            %p A slot has been booked for you :)
                            %h3
                              Reservation Details 
                          .col-xs-12.col-sm-12.col-md-4.col-lg-4
                            .panel-action  
                              = link_to t('.cancel', :default => t("helpers.links.cancel")), '#', :class => 'btn btn-warn'
            
                      .panel-body
                        %p= @ride.title
                      %ul.list-group
                        %li.list-group-item
                          %label.info From:
                          #ride-start-time
                        %li.list-group-item  
                          %label.info To:
                          #ride-end-time
                        %li.list-group-item
                          %label.info Price:
                          #ride-price
                        %li.list-group-item    
                          %p= @ride.address
                #reservation-details
                  = simple_form_for @ride do |f|
                    #ride_id{ :style => 'display: none' }= @ride.id
                    .row
                      .col-lg-6.col-sm-6.col-md-6
                        .ride-image
                        - if !@ride.images.nil?
                          - image = @ride.images.first
                          = image_tag(image["thumbnail_url"])
                      .col-lg-6.col-sm-6.col-md-6
                        .ride-body
                          %h4.media-heading= @ride.title
                          %h4= "#{@ride.subcategory.name} ( #{@ride.amenities} )"
                    %hr
                    #workstation_count
                      -if @ride.number_of_workstations <= 0
                        %p Housefull, please try other nearby locations
                      -else  
                        %dd= f.input :number_of_workstations, collection:@workstations, :selected => @default_number   
                    %hr      
                    .row
                      .col-lg-6.col-sm-6.col-md-6
                        %label Begin
                        #schedule-start
                      .col-lg-6.col-sm-6.col-md-6
                        %label Wrapup
                        #schedule-end
                    %hr    
                    .row
                      %label Booking Duration
                      #rent-duration

                    %hr    
                    .row 
                      #address 
                        %p= @ride.address
                        %span.f-w100.size-12.help.pointer.blue{"data-original-title" => "", :onclick => "showModal('GVK One Mall (P3 parking)', '/map?lat=17.41910479096239&amp;lng=78.44821074977517&amp;title=GVK One Mall (P3 parking)');", :title => "sa"}(view map) 
                    %hr    
                    .row
                      %label Price Details
                      #ride-fare
                    %hr    
                    .row
                      %label Price Breakups
                      #fare-breakup
                    .row
                      #total-fare        
                          
                    
                  #create_reservations
                    = button_to 'Book My Workplace', frontend_reservations_create_path, :class => 'btn btn-success btn-block'
                   

      .row
        #revervaion-calendar
          .col-xs-12.col-sm-6.col-md-12.col-lg-12.col-lg-push-0.col-md-push-0.col-sm-push-6.col-xs-push-0
            .panel.panel-default.panel-picker.js-panel-picker
              .panel-body
                .panel-container.no-border
                  #calendar
                    /= form_for_filterrific @filterrific do |f|
                    / .row
                    /   .col-xs-12.col-sm-8.col-md-8.col-lg-8
                    /     .form-group.chardin_box{ :'data-position' => 'top', :'data-intro' => 'Filter by rideed date.' }
                    /       %label Pickup
                    /       = f.text_field :with_created_at_gte,
                    /        :class => 'js-datepicker form-control'
                    / .row  
                    /   .col-xs-12.col-sm-8.col-md-8.col-lg-8
                    /     .form-group.chardin_box{ :'data-position' => 'top', :'data-intro' => 'Filter by rideed date.' }
                    /       %label Drop
                    /       = f.text_field :with_created_at_gte,
                    /        :class => 'js-datepicker form-control'     
                    
    /   .container
    /     .col-md-5
    /       .form-group
    /         #datetimepicker6.input-group.date
    /           %input.form-control{:type => "text"}/
    /           %span.input-group-addon
    /             %span.glyphicon.glyphicon-calendar
    /     .col-md-5
    /       .form-group
    /         #datetimepicker7.input-group.date
    /           %input.form-control{:type => "text"}/
    /           %span.input-group-addon
    /             %span.glyphicon.glyphicon-calendar
     
  / = link_to t('ride.reserve'), calendar_ride_path(@ride), :class => 'btn btn-success btn-block'            

= content_tag "div", id: "ride-info", data: {ride: { ride_id: @ride.id} } do
 

  
  #event_desc_dialog.dialog{:style => "display:none;"}
    

  #create_event_dialog.dialog{:style => "display:none;"}
    = render partial: "frontend/schedules/form"


:javascript


   $('#after-reservation').hide();

  //For date picker in the filter 
  $('.js-datepicker').datepicker();
  $('#overlayTrigger').click(function(event) {
    event.preventDefault();
    $('body').chardinJs('start');
  });
  
  

  $(function () {
      $('#datetimepicker6').datetimepicker();
      $('#datetimepicker7').datetimepicker({
          useCurrent: false //Important! See issue #1075
      });
      $("#datetimepicker6").on("dp.change", function (e) {
          $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
      });
      $("#datetimepicker7").on("dp.change", function (e) {
          $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
      });
  });