- @schedule = @list.schedules.build
= simple_form_for [@list, @schedule], :html => { :class => 'form-horizontal' , id: 'event_form' } do |f|
  = field_set_tag 'Ride Slot' do
    #slot
      %span#cont
        = f.input :morning_ride
        = error_span(@schedule[:morning_ride])
      %span#cont  
        = f.input :evening_ride
        = error_span(@schedule[:evening_ride])

    #allday  
      = f.input :all_day
      = error_span(@schedule[:all_day])
  
  = f.input :start_time
  = error_span(@schedule[:start_time])
  = f.input :end_time
  = error_span(@schedule[:end_time])
  
  %p
    = f.submit
    %span#creating_events.spinner{:style => "display:none;"} Creating, Please wait...
  %hr
