= simple_form_for [list, schedule], :html => { :class => 'form-horizontal' , id: 'event_form' } do |f|
  = field_set_tag 'Ride Slot' do
    #slot
      %span#cont.ride
        = f.input :morning_ride, :input_html => { :class => 'ride' }
        = error_span(schedule[:morning_ride])
      %span#cont.ride  
        = f.input :evening_ride, :input_html => { :class => 'ride' }
        = error_span(schedule[:evening_ride])

    #allday  
      = f.input :all_day, :input_html => { :class => 'ride' }
      = error_span(schedule[:all_day])
  
  = f.input :start_time
  = error_span(schedule[:start_time])
  = f.input :end_time
  = error_span(schedule[:end_time])
  
  %p
    = f.submit
    %span#creating_events.spinner{:style => "display:none;"} Creating, Please wait...
  %hr

:javascript
$(document).ready(function(){
  $('input.ride').on('change', function() {
    $('input.ride').not(this).prop('checked', false);  
  });
});
