= simple_form_for [ride, schedule], :html => { :class => 'form-horizontal' , id: 'modify_form' } do |f|
  = field_set_tag 'Ride Slot' do
    #slot
      %span#cont.ride
        = f.input :morning_ride, :input_html => { :class => 'ride' }
        = error_span(schedule[:morning_ride])
      %span#cont.ride  
        = f.input :evening_ride, :input_html => { :class => 'ride' }
        = error_span(schedule[:evening_ride])

    #allday  
      = f.input :all_day, :input_html => { :class => 'ride' }
      = error_span(schedule[:all_day])
  
  = f.input :start_time
  = error_span(schedule[:start_time])
  = f.input :end_time
  = error_span(schedule[:end_time])
  
  = link_to 'Delete', 'javascript:void()', id: 'delete_schedule', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
  %p
    = f.submit
    %span#creating_events.spinner{:style => "display:none;"} Creating, Please wait...
  
  %hr

:javascript
//While update an  Schedule only Check kind of ride at a time 
$(document).ready(function(){
  $('input.ride').on('change', function() {
    $('input.ride').not(this).prop('checked', false);  
  });

  $('#delete_schedule').click(function(event) {
      var action_url = document.getElementById('modify_form').action
      destroy(action_url);
      event.preventDefault();
  });
});

