= simple_form_for @supplier, :html => { :class => 'form-group' } do |f|
  = f.input :company
  = error_span(@supplier[:company])
  = f.input :code
  = error_span(@supplier[:code])
  = f.input :status
  = error_span(@supplier[:status])
  = f.input :description
  = error_span(@supplier[:description])

  / %h4= 'Contact Information'
  / = render "contact_form"

  / %h4= 'Address'
  / - if !@addresses.empty?
  /   - @addresses.each do |address|
  /     = render "address_form", object: address
  / - else
  /   = render "address_form"

  

  / %h4= 'Financial Information' 
  / = render "finance_form" 
  
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), suppliers_path, :class => 'btn btn-default'

