!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h3
      Welcome to stylework.com, #{@user.email}
    %p
      You have successfully reserverd a slot in #{@address},
      Form: #{@start_time}, To: #{@end_time}
      %br
    %p
      Please pay the amount <b> RS. #{@price}</b> at venue.

    %p Thanks for being on board, have a great journey to change the future!

    %p Cheers !
    %p Stylework Team