- model_class = Size
= content_for :header do
  %h2=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @size.name
%p
  %strong= model_class.human_attribute_name(:volume) + ':'
  %br
  = @size.volume
%p
  %strong= model_class.human_attribute_name(:unit) + ':'
  %br
  = @size.unit


= link_to t('.back', :default => t("helpers.links.back")), sizes_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_size_path(@size), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), size_path(@size), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
