-# navigation styled for Bootstrap 3.0
%body#page-top.index
  %nav#mainNav.navbar.navbar-default.navbar-fixed-top.navbar-custom
    .container
      / Brand and toggle get grouped for better mobile display
      .navbar-header.page-scroll
        %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          Menu
          %i.fa.fa-bars
        = link_to 'Style Work', root_path, class: 'navbar-brand'
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li.hidden
            %a{:href => "#page-top"}
          %li.page-scroll
            = link_to 'List a Workplace', "/rides/new"
          %li.page-scroll
            = link_to 'Book a Workplace', "/rides"  
          %li.page-scroll
            = link_to 'About', "/#about"
          %li.page-scroll
            = link_to 'Contact', "/#contact"
          %li.page-scroll  
            = render 'layouts/frontend/nav_links_for_auth'    

