%ul.nav.nav-tabs
  %li{:role => "presentation"}
    = link_to 'List a Ride', "/rides/new"
  %li{:role => "presentation"}
    = link_to 'Rent a Ride', "/rides"
  %li{:role => "presentation"}
    = link_to 'Buy', "#"
  %li{:role => "presentation"}
    = link_to 'Sell', "#"
  %li{:role => "presentation"}
    = link_to 'Calendar', calendars_path     



     
