- model_class = Brand
= content_for :header do
  %p.buttons
    = link_to t('.new', :default => t("helpers.links.new")), new_brand_path, :class => 'btn btn-success'
  %h2=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:short_description)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:location)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @brands.each do |brand|
      %tr
        %td= link_to brand.id, brand_path(brand)
        %td= brand.name
        %td= brand.short_description
        %td= brand.description
        %td= brand.location
        %td=l brand.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_brand_path(brand), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), brand_path(brand), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'


