= simple_form_for @product, :html => {:multipart => true},:html => { :class => 'form-horizontal' } do |f|
  = field_set_tag 'Product details' do
    = f.hidden_field :subcategory_id
    %dl 
      %dd= f.input :name
      %dd= error_span(@product[:name])
    .splitContainer
      %dl.third
        %dd= f.input :skuid
        %dd= error_span(@product[:skuid])
      %dl.third
        %dd= f.input :permalink
        %dd= error_span(@product[:permalink])
      %dl.third 
    .splitContainer
      %dl.third
        %dd= f.input :supplier_id, collection: @supplier_names, :selected => @default_supplier
      %dl.third
        %dd= f.input :subcategory_id, :label => "Product Category", :collection => @subcategory_names, :selected => @default_subcategory
      %dl.third
        %dd= f.input :brand_id, :label => "Brand", :collection => @brand_names, :selected => @default_brand
        %dd= error_span(@product[:brand])
    %dl
      %dd= f.input :description
      %dd= error_span(@product[:description])
    %dl
      %dd= f.input :short_description, :level => false
      %dd= error_span(@product[:short_description])
  = field_set_tag 'Attachments' do
    %dl
      %dd
        - if !@product.images.nil?
          - @product.images.each_with_index do |image, index|
            = image_tag image.thumb.url 
            //= f.input :remove_images, :as => :boolean, :label => false, :inline_label => true
            = link_to "Delete", product_image_path(@product, index), :method => :delete, data: { confirm: "Are you sure you want to delete this image?" }
        = f.file_field :images, multiple: true
               
  = field_set_tag 'Financial Properties' do
    .splitContainer
      %dl.third
        %dd= f.input :price
        %dd= error_span(@product[:price])
      %dl.third
        %dd= f.input :cost_price
        %dd= error_span(@product[:cost_price])
      %dl.third
        %dd= f.input :tax_rate_id, :collection => @tax_rates, :selected => @default_tax_rate

  = field_set_tag 'Quantitative Properties' do
    .splitContainer
      %dl.half
        %dd= f.input :size_id, :collection => @sizes, :selected => @default_size
      %dl.half
        %dd= f.input :quantity
        %dd= error_span(@product[:quantity])
     
    = f.fields_for :properties, OpenStruct.new(@product.properties) do |builder|
      - if !@product.subcategory.nil?
        - @product.subcategory.fields.each do |field|
          = render "products/fields/#{field.field_type}", field: field, f:builder 
  %p.submit
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), products_path, :class => 'btn btn-default'
