= simple_form_for contact, :url => wizard_path, :method => :put, :html => { :class => 'form-group' } do |f|
  = f.input :email
  = error_span(@contact[:email])
  = f.input :telephone
  = error_span(@contact[:telephone])
  = f.input :mobile
  = error_span(@contact[:mobile])
  = f.input :website
  = error_span(@contact[:website])
  = f.input :fax
  = error_span(@contact[:fax])
  = f.input :skype
  = error_span(@contact[:skype])
  = f.input :supplier_id
  = error_span(@contact[:supplier_id])
  = f.button :submit, :class => 'btn-primary'
  or
  = link_to "Skip", next_wizard_path, :class => "btn btn-warning"
  /= link_to t('.cancel', :default => t("helpers.links.cancel")), supplier_contacts_path, :class => 'btn btn-default'
