- model_class = Supplier
= content_for :header do
  %p.buttons= link_to t('.back_to_supplier_list'), suppliers_path, :class => 'btn btn-primary'
  %h2=t '.title', :default => model_class.model_name.human.titleize


%p
  %strong= model_class.human_attribute_name(:company) + ':'
  %br
  = @supplier.company
%p
  %strong= model_class.human_attribute_name(:code) + ':'
  %br
  = @supplier.code
%p
  %strong= model_class.human_attribute_name(:status) + ':'
  %br
  = @supplier.status
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @supplier.description
%p
  %br
  - if !@contact.nil?
    = render 'contacts/show'
  - if !@addresses.nil?
    - @addresses.each do |address|
      - @address = address
      = render 'addresses/show', object: @address
  - if !@finance.nil?
    = render 'finances/show'



= link_to t('.edit', :default => t("helpers.links.edit")), edit_supplier_path(@supplier), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), supplier_path(@supplier), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
