- model_class = List
%p
= content_tag "div", id: "list", data: {list: { list_id: list.id} } do
  %p
    - image = list.images.first
    = image_tag(image["url"])

  %h4= list.ride_title
  %p= list.ride_description
  %p
    %strong= model_class.human_attribute_name(:rider_height) + ':'
    = list.rider_height
  %p
    %strong= model_class.human_attribute_name(:frame_size) + ':'
    = list.frame_size
  %p
    %strong= model_class.human_attribute_name(:hourly_rental) + ':'
    = list.hourly_rental
  %p
    %strong= model_class.human_attribute_name(:morning_rental) + ':'
    = list.morning_rental
  %p
    %strong= model_class.human_attribute_name(:evening_rental) + ':'
    = list.evening_rental
  

  = link_to t('.book', :default => t("helpers.links.book")), list_path(list), :class => 'btn btn-default'
  = link_to "Close", "#", :id => 'close-expansion', :class => 'btn btn-default'

:javascript
//If Close button clicked then going to make empty #ride div, where
//This details is displayed 
$(document).ready( function(){
  $("#close-expansion").click( function() {
    $("#ride").empty();
  })
});
