- model_class = List
%p
%p
= form_tag lists_path, :method => :get, remote: true do
  %p
    = text_field_tag :search, params[:search], :id => "gmaps-input-address", :input_html =>{:id => 'gmaps-input-address'}, :placeholder => 'Start typing a place...'
    = submit_tag "Search Near", :name => nil, :id=>"ajax" 


.row.no-gutter
  .col-lg-8.col-md-6.col-sm-6.hidden-xs
    #map

  .col-lg-4.col-md-6.col-sm-6
    #main-list
      %ul.media-list
        #ride
        #rides
          = render @lists 
        


= link_to t('.new', :default => t("helpers.links.new")), new_list_path, :class => 'btn btn-primary'



%script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"}
%script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js", :type => "text/javascript"}



:javascript

  $(document).ready(function(){
  
  

  var handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(#{raw @hash.to_json });
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
  });
