!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Cycle Yard"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    //= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"


  %body
    %nav.sidebar
      %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
      %header.logo
        %h1= link_to "CycleYard", root_path, :class => "nohover"
        %p beta
        -if user_signed_in?
          %li
            %logged
              %span.glyphicon.glyphicon-user
              = current_user.email
        %p
        %ul.nav.side-pane
          
          %li
            %span.glyphicon.glyphicon-dashboard
            = link_to "Dashboard", "/admin/dashboard"
          %li
            %span.glyphicon.glyphicon-th-list
            = link_to "Products", "/admin/products"
          %li
            %span.glyphicon.glyphicon-th-large
            = link_to "Categories", "/admin/categories"
          %li
            %span.glyphicon.glyphicon-cloud-upload
            = link_to "Suppliers", "/admin/suppliers"
          %li
            %span.glyphicon.glyphicon-star-empty
            = link_to "Brands", "/admin/brands"
          %li
            %span.glyphicon.glyphicon-usd
            = link_to "Tax Rates", "/admin/tax_rates"
          %li
            %span.glyphicon.glyphicon-glass
            = link_to "Sizes", "/admin/sizes"
            
          %li
            %span.glyphicon.glyphicon-book
            = link_to "Api Docs", "/apipie"
          %li
            %span.glyphicon.glyphicon-hand-right
            = link_to "About us", "#"
          -if user_signed_in?
            %li
              %span.glyphicon.glyphicon-log-out
              = link_to "Sign out", destroy_user_session_path, :method => :delete
          -else
            %li
              %span.glyphicon.glyphicon-log-in
              = link_to "Sign in", new_user_session_path 
            %li
              %span.glyphicon.glyphicon-new-window
              = link_to "Sign up", new_user_registration_path  

    .container
      %header.main
        = yield :header

      #content    
        = bootstrap_flash
        %section.main
          = yield
        


